body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.main-banner {
    background-color: #3a7bd5;
    color: white;
    padding: 50px;
    text-align: center;
}

.main-banner h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fff;
    color: #3a7bd5;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

#produkty {
    padding: 50px;
    background-color: #fff;
}

#produkty h2 {
    text-align: center;
    margin-bottom: 30px;
}

.product-categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    border: 1px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
/* Styl dla przycisków z kategoriami produktów */
.product-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #007bff; /* Niebieski kolor */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product-button:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski po najechaniu */
}

.button-container {
    text-align: center;
    margin: 20px 0;
}
/* Styl dla przycisków nawigacyjnych */
.nav-button {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #007bff; /* Niebieski kolor */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski po najechaniu */
}

/* Styl dla nawigacji - wyśrodkowanie i layout */
nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}
